<!DOCTYPE html>
<html ng-app="App">
<head>
  <meta charset='utf-8'/>
  <title>-= Casino =-</title>
  <!--iQuery -->
  <script src="scripts/jquery.min.js"></script>

  <!--Bootstrap-->
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <link rel="stylesheet" href="styles/bootstrap-theme.min.css">
  <script src="scripts/boostrap.min.js"></script>

  <!--Angular-->
  <script src="scripts/angular.js"></script>

  <!--Main css-->
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/rotator.css">

  <!--Main scripts-->
  <!--<script type="text/javascript" src="scripts/casino.js"></script>-->
  <script type="text/javascript" src="scripts/init.js"></script>
  <script type="text/javascript" src="scripts/directives/rotator.js"></script>
  <script type="text/javascript" src="scripts/controllers/root.js"></script>
  <script type="text/javascript" src="scripts/factories/casino.js"></script>
  <script type="text/javascript" src="scripts/factories/slotMachine.js"></script>
  <script type="text/javascript" src="scripts/decorators/exception_handler.js"></script>

</head>
<body ng-controller="RootController">
<div class="col-md-6">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default" ng-if="!selectedMachine">
        <div class="panel-heading">
          <span>Выберите автомат</span>
        </div>
      </div>
      <div class="panel panel-default" ng-if="selectedMachine">
        <div class="panel-heading">
          <span>Добро Пожаловать в Игру</span>
        </div>
        <div class="panel-body">
          <rotator number="winNumber"/>
        </div>
        <div class="panel-footer">
          <div class="col-md-4"></div>
          <div class="col-md-4 text-center">
            <div class="btn btn-xlarge btn-success" ng-click="play();">
              Играть!
            </div>
          </div>
          <div class="col-md-4"></div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="well">
        left bottom
      </div>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Список Автоматов</div>
        <div id="slotMachines" class="list-group">
          <a href="#" class="list-group-item" ng-repeat="machine in casino.getSlotMachinesList track by $index"
             ng-click="selectSlotMachine(machine)">
            <!--<span class="btn btn-danger pull-right">Удалить</span>-->
            <span class="pull-right">
              <button class="btn btn-xs btn-danger" ng-click="casino.destroySlotMachine($index);"
                      ng_disabled="casino.getSlotMachinesCount === 1">Удалить</button>
            </span>
            Автомат # {{$index}}; Денег банка ${{machine.getBankData().money}} Вложенных денег $
            {{machine.getBankData().putedMoney}}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Управление казино</div>
        <div class="panel-body">
          <div class="col-md-12">
            Кол-во Денег: {{casino.bank}}
          </div>
          <div class="col-md-12">
            Кол-во Автоматов: {{casino.getSlotMachinesCount}}
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default"
                          ng-click="casino.getMoney(getMoneySum)">Забрать деньги</button>
                </span>
                <input type="number" min="0" class="form-control" ng-model="getMoneySum">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default"
                          ng-click="casino.createSlotMachine()">Добавить автомат</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script id="rotator.html" type="text/ng-template">
  <div class="rotator-grid">
    <div class="rotator-grid select-line">

    </div>
  </div>
  <div class="col-md-4 rotator-wrapper">
    <div class="rotator" style="-webkit-transform: rotateX(0deg)" data-state="0">
      <figure>0</figure>
      <figure>1</figure>
      <figure>2</figure>
      <figure>3</figure>
      <figure>4</figure>
      <figure>5</figure>
      <figure>6</figure>
      <figure>7</figure>
      <figure>8</figure>
      <figure>9</figure>
    </div>
  </div>
  <div class="col-md-4 rotator-wrapper">
    <div class="rotator" style="-webkit-transform: rotateX(0deg)" data-state="0">
      <figure>0</figure>
      <figure>1</figure>
      <figure>2</figure>
      <figure>3</figure>
      <figure>4</figure>
      <figure>5</figure>
      <figure>6</figure>
      <figure>7</figure>
      <figure>8</figure>
      <figure>9</figure>
    </div>
  </div>
  <div class="col-md-4 rotator-wrapper">
    <div class="rotator" style="-webkit-transform: rotateX(0deg)" data-state="0">
      <figure>0</figure>
      <figure>1</figure>
      <figure>2</figure>
      <figure>3</figure>
      <figure>4</figure>
      <figure>5</figure>
      <figure>6</figure>
      <figure>7</figure>
      <figure>8</figure>
      <figure>9</figure>
    </div>
  </div>
</script>
</body>
</html>