<!DOCTYPE html>
<html ng-app="App">
<head>
  <meta charset='utf-8'/>
  <title>-= Casino =-</title>
  <!--iQuery -->
  <script src="scripts/jquery.min.js"></script>

  <!--Bootstrap-->
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <link rel="stylesheet" href="styles/bootstrap-theme.min.css">
  <script src="scripts/boostrap.min.js"></script>

  <!--Angular-->
  <script src="scripts/angular.js"></script>

  <!--Main css-->
  <link rel="stylesheet" href="styles/main.css">

  <!--Main scripts-->
  <!--<script type="text/javascript" src="scripts/casino.js"></script>-->
  <script type="text/javascript" src="scripts/init.js"></script>
  <script type="text/javascript" src="scripts/controllers/root.js"></script>
  <script type="text/javascript" src="scripts/factories/casino.js"></script>
  <script type="text/javascript" src="scripts/factories/slotMachine.js"></script>
  <script type="text/javascript" src="scripts/decorators/exception_handler.js"></script>

</head>
<body ng-controller="RootController">
<div class="col-md-6">
  <div class="row">
    <div class="col-md-12">
      <div class="well">
        left top
      </div>
    </div>
    <div class="col-md-12">
      <div class="well">
        left bottom
      </div>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Список Автоматов</div>
        <div id="slotMachines" class="list-group">
          <a href="#" class="list-group-item" ng-repeat="machine in casino.getSlotMachinesList track by $index" ng-click="selectSlotMachine($index)">
            <span class="badge">$ {{machine.getBankData().putedMoney}}</span>
            <span class="badge">$ {{machine.getBankData().money}}</span>
            Автомат # {{$index}}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Управление казино</div>
        <div class="panel-body">
          <div class="col-md-12">
            Кол-во Денег: {{casino.bank}}
          </div>
          <div class="col-md-12">
            Кол-во Автоматов: {{casino.getSlotMachinesCount}}
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="getMoney()">Забрать деньги</button>
                </span>
                <input type="number" min="0" class="form-control" ng-model="getMoneySum">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="addSlotMachine()">Добавить автомат</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>